<script>
    // the graph may be loaded elsewhere than body
    window.__njg_el__ = window.__njg_el__ || 'body';
    // default API url
    window.__njg_default_url__ = '{{ graph_url }}';
    // loadGraph wrapper is used to reload
    // the graph with data from older snapshots
    window.loadNetJsonGraph = function (data) {
        data = data || window.__njg_default_url__;
        const history_url = '{{ history_url }}';

        // load graph
        const graph = new NetJSONGraph(data, {
            el: window.__njg_el__,
            graphConfig: {
                baseOptions: {
                    backgroundColor: '#282222b3',
                    toolbox: {
                        right: '60',
                        top: '15',
                    },
                },
            },
            linkCategories: [
                {
                    name: 'down',
                    linkStyle: {
                        color: '#c92517',
                        width: 6,
                    },
                    emphasis: {
                        linkStyle: {
                            color: '#FD0101',
                            opacity: 1,
                        },
                    },
                },
                {
                    name: 'up',
                    linkStyle: {
                        color: '#1ba619',
                        width: 6,
                    },
                    emphasis: {
                        linkStyle: {
                            color: '#3acc38',
                            opacity: 1,
                        },
                    },
                },
            ],
            prepareData: (data) => {
                data.links.map((link) => {
                    link.properties = link.properties || {};
                    if (link.properties.status) {
                        link.category = link.properties.status;
                    }
                });
            },
        });

        const overlay = document.querySelector(window.__njg_el__);
        const createLegend = (key, name) => {
            const legendItem = document.createElement('p');
            const legendIcon = document.createElement('span');

            legendIcon.setAttribute('class', name);

            legends.appendChild(legendItem);
            legendItem.appendChild(legendIcon);

            legendItem.innerHTML += key;
            return legendItem;
        };
        const legends = document.createElement('div');
        const legendsHeader = document.createElement('h4');
        legends.setAttribute('id', 'legend');
        legendsHeader.innerHTML = 'Legend';
        legends.appendChild(legendsHeader);
        legends.appendChild(createLegend('Up', 'link-up'));
        legends.appendChild(createLegend('Down', 'link-down'));
        overlay.appendChild(legends);

        const closeBtn = document.createElement('button');
        closeBtn.setAttribute('class', 'closeBtn');
        closeBtn.innerHTML = '&times;';
        overlay.appendChild(closeBtn);

        const switcher = document.createElement('div');
        switcher.setAttribute('class', 'njg-switcher');
        const dateLabel = document.createElement('label');
        dateLabel.setAttribute('for', 'njg-datepicker');
        dateLabel.innerHTML = 'Date:';
        switcher.appendChild(dateLabel);
        const datePicker = document.createElement('input');
        datePicker.setAttribute('type', 'text');
        datePicker.setAttribute('id', 'njg-datepicker');
        datePicker.setAttribute('data-history-api', history_url);
        switcher.appendChild(datePicker);
        overlay.appendChild(switcher);
        return graph;
    };

    window.graph = window.loadNetJsonGraph();
    window.initTopologyHistory(django.jQuery);
</script>
