responses~=0.25.7
freezegun~=1.5.4
# Needed to test integrations
openwisp-monitoring @ https://github.com/openwisp/openwisp-monitoring/tarball/1.2
openwisp-controller @ https://github.com/openwisp/openwisp-controller/tarball/1.2
openwisp-utils[qa,selenium,channels-test] @ https://github.com/openwisp/openwisp-utils/tarball/1.2
redis~=6.2.0
django_redis~=6.0.0
