responses~=0.16.0
pytest-asyncio~=0.14.0
pytest-django~=4.5.2
freezegun~=1.1.0
selenium~=3.141.0
urllib3~=1.26.1
# Needed to test integrations
openwisp-monitoring @ https://github.com/openwisp/openwisp-monitoring/tarball/master
openwisp-controller @ https://github.com/openwisp/openwisp-controller/tarball/master
openwisp-utils[qa] @ https://github.com/openwisp/openwisp-utils/tarball/master
