.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background: rgba(217, 79, 52, 0.85) !important;
  color: var(--ow-color-white) !important;
}

.leaflet-control-layers {
  background: rgba(217, 79, 52, 0.85) !important;
  color: var(--ow-color-white) !important;
}

.switch-wrap {
  color: var(--ow-color-white);
}

.switch-wrap label {
  border: 1px solid #dfdfdf;
  background: var(--ow-color-white);
}

.switch-wrap label::before {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
  background-color: var(--ow-color-white);
}

.switch-wrap input[type="checkbox"]:checked + label {
  background: grey;
}

.njg-date {
  color: var(--ow-color-white);
}

.njg-selectIcon {
  background: rgba(217, 79, 52, 0.85);
  color: var(--ow-color-white);
}

.njg-searchBtn {
  background-color: white;
}

.njg-sideBar {
  background-color: var(--ow-color-white);
}

.sideBarHandle {
  background: rgba(217, 79, 52, 0.85);
}

.sideBarHandle::before {
  color: var(--ow-color-white);
}

.njg-metaData,
.njg-infoContainer {
  background-color: inherit;
}

.njg-tooltip {
  background: var(--ow-color-white) !important;
  border: none !important;
}

.njg-tooltip-key,
.njg-tooltip-value {
  color: var(--ow-color-black);
}

.marker-cluster div {
  color: var(--ow-color-white);
  background-color: rgba(21, 102, 169, 0.8) !important;
}

@media only screen and (max-width: 850px) {
  .njg-sideBar {
    background: rgba(255, 255, 255, 0.96);
    color: var(--ow-color-black);
  }
}
