.njg-container .leaflet-control-zoom-in,
.njg-container .leaflet-control-zoom-out {
  pointer-events: auto;
  opacity: 1;
  cursor: pointer;
  background: rgba(217, 79, 52, 0.85) !important;
  color: var(--ow-color-white) !important;
}

.njg-container .leaflet-control-zoom-in.leaflet-disabled,
.njg-container .leaflet-control-zoom-out.leaflet-disabled {
  opacity: 0.7;
  cursor: default;
}

.njg-container .leaflet-control-layers {
  background: rgba(217, 79, 52, 0.85) !important;
  color: var(--ow-color-white) !important;
}

.njg-container .switch-wrap {
  color: var(--ow-color-white);
}

.njg-container .switch-wrap label {
  border: 1px solid #dfdfdf;
  background: var(--ow-color-white);
}

.njg-container .switch-wrap label::before {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
  background-color: var(--ow-color-white);
}

.njg-container .switch-wrap input[type="checkbox"]:checked + label {
  background: grey;
}

.njg-container .njg-date {
  color: var(--ow-color-white);
}

.njg-container .njg-selectIcon {
  background: rgba(217, 79, 52, 0.85);
  color: var(--ow-color-white);
}

.njg-container .njg-searchBtn {
  background-color: white;
}

.njg-container .njg-sideBar {
  background-color: var(--ow-color-white);
}

.njg-container .sideBarHandle {
  background: rgba(217, 79, 52, 0.85);
}

.njg-container .sideBarHandle::before {
  color: var(--ow-color-white);
}

.njg-container .njg-metaData,
.njg-container .njg-infoContainer {
  background-color: inherit;
}

.njg-container .njg-tooltip {
  background: var(--ow-color-white) !important;
  border: none !important;
}

.njg-container .njg-tooltip-key,
.njg-container .njg-tooltip-value {
  color: var(--ow-color-black);
}

.njg-container .default-popup .njg-tooltip-key,
.njg-container .default-popup .njg-tooltip-value {
  color: var(--ow-color-black);
}

.njg-container .marker-cluster div {
  color: var(--ow-color-white);
  background-color: rgba(21, 102, 169, 0.8) !important;
}

@media only screen and (max-width: 850px) {
  .njg-container .njg-sideBar {
    background: rgba(255, 255, 255, 0.96);
    color: var(--ow-color-black);
  }
}
