#legend h4 {
    margin: 10px 0;
    text-align: center;
}
#legend {
    position: absolute;
    right: 25px;
    bottom: 15px;
    width: auto;
    height: auto;
    max-width: 250px;
    padding: 8px 15px;
    background: #fbfbfb;
    border-radius: 8px;
    color: #000;
    font-family: Arial, sans-serif;
    font-family: sans-serif;
    font-size: 14px;
    z-index: 2;
    user-select: text;
}
#legend p {
    margin: 10px 0;
    display: flex;
    align-items: center;
}
#legend span {
    width: 16px;
    margin-right: 5px;
}
#legend .link-up,
#legend .link-down {
    display: inline-block;
    height: 5px;
    border-bottom-width: 6px;
    border-bottom-style: solid;
}
#legend .link-up {
    color: #3acc38;
    margin-right: 10px;
}
#legend .link-down {
    color: red;
    margin-right: 10px;
}

.njg-sideBar h2 {
    color: #000;
    margin: 0;
    font-size: 20px;
}

.njg-sideBar * {
    color: #000;
    box-sizing: border-box;
}

.djnjg-overlay .closeBtn {
    border: none;
    outline: none;
    background: rgba(217, 79, 52, 0.85);
    padding: 0 8px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

body .frontend {
    overflow: hidden;
    font-family: Arial, sans-serif;
    line-height: 20px;
    background-color: #2b2b2b;
}

.njg-switcher {
    background: #fff;
    border-radius: 5px;
    color: #1e1d1d;
    font-family: Arial, sans-serif;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    height: auto;
    max-width: 400px;
    min-width: auto;
    position: absolute;
    left: 50%;
    bottom: 15px;
    padding: 5px 8px;
    transform: translateX(-50%);
}

.njg-switcher * {
    color: #000;
}

#njg-datepicker {
    margin: 0 0 0 5px !important;
    font-size: 13px;
    padding: 5px 10px;
    width: 94px;
}

#ui-datepicker-div {
    font-size: 15px;
    line-height: initial;
}

.ui-datepicker thead th {
    line-height: normal;
    text-transform: uppercase;
    font-size: 11px;
    background: #f6f6f6;
}
