---
name: OpenWISP Network Topology CI Build

on:
  push:
    branches:
      - master
      - "1.1"
  pull_request:
    branches:
      - master
      - "1.1"

jobs:
  build:
    name: Python==${{ matrix.python-version }} | ${{ matrix.django-version }}
    runs-on: ubuntu-24.04

    services:
      redis:
        image: redis
        ports:
          - 6379:6379

    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
        django-version:
          - django~=3.2.0
          - django~=4.1.0
          - django~=4.2.0

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: |
            **/requirements*.txt

      - name: Install Dependencies
        id: deps
        run: |
          sudo apt update -qq
          sudo apt -qq install \
            sqlite3 \
            gdal-bin \
            libproj-dev \
            libgeos-dev \
            libspatialite-dev \
            spatialite-bin \
            libsqlite3-mod-spatialite
          pip install -U pip wheel setuptools
          pip install -U -e .
          pip install -U -r requirements-test.txt
          pip install ${{ matrix.django-version }}

          # start influxdb
          docker compose up -d influxdb

      - name: QA checks
        run: ./run-qa-checks

      - name: Tests
        if: ${{ !cancelled() && steps.deps.conclusion == 'success' }}
        run: |
          coverage run runtests.py --parallel
          WIFI_MESH=1 coverage run runtests.py --parallel
          SAMPLE_APP=1 coverage run ./runtests.py --parallel
          coverage combine
          coverage xml

      - name: Upload Coverage
        if: ${{ success() }}
        uses: coverallsapp/github-action@v2
        with:
          parallel: true
          format: cobertura
          flag-name: python-${{ matrix.env.env }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

  coveralls:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
